@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #00b8de;
  }
  .spinner {
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
  }
  .spinner .path {
    stroke: #00b8de;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }
}

@layer components {
  .btn {
    @apply mb-2 mr-2 inline-flex items-center justify-center rounded-lg border bg-primary-800 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-primary-700 focus:outline-none dark:border-primary-700;
  }
  .btn.active {
    @apply bg-primary-700 ring-2 ring-primary-600;
  }
}

@layer utilities {
  .youtubeContainer iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .mq-helper {
    @apply hidden;
    @screen sm {
      @apply block;
    }
  }
  @screen sm {
    .mq-helper::after {
      content: "sm";
    }
  }
  @screen md {
    .mq-helper::after {
      content: "md";
    }
  }
  @screen lg {
    .mq-helper::after {
      content: "lg";
    }
  }
  @screen xl {
    .mq-helper::after {
      content: "xl";
    }
  }
  @screen 2xl {
    .mq-helper::after {
      content: "2xl";
    }
  }
}
