@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html body {
    @apply bg-slate-950 text-primary-50;
  }
  .spinner {
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
  }
  .spinner .path {
    stroke: theme("colors.slate.100");
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }
}

@layer components {
  #swiss-map {
    max-width: 100%;
    height: auto;
  }
  #swiss-map path.guessed {
    fill: theme("colors.sky.500");
    stroke: theme("colors.sky.900");
  }
  #swiss-map path.missing {
    fill: theme("colors.red.500");
    stroke: theme("colors.red.900");
  }
  #swiss-map path {
    transition: all cubic-bezier(1, 0, 0, 1) 0.3s;
    stroke: theme("colors.slate.700");
    fill: theme("colors.slate.900");
  }
  #swiss-map text {
    fill: theme("colors.slate.100");
    @apply text-2xl font-bold;
  }
}

@layer utilities {
  .mq-helper {
    @apply hidden;
    @screen sm {
      @apply block;
    }
  }
  @screen sm {
    .mq-helper::after {
      content: "sm";
    }
  }
  @screen md {
    .mq-helper::after {
      content: "md";
    }
  }
  @screen lg {
    .mq-helper::after {
      content: "lg";
    }
  }
  @screen xl {
    .mq-helper::after {
      content: "xl";
    }
  }
  @screen 2xl {
    .mq-helper::after {
      content: "2xl";
    }
  }
}
